.nav {
    position: relative;
    display: flex;
    justify-content: space-between;

    .navbar {
        display: flex;
        justify-content: center;   
    }

    .button-container {
        .nav-button {
            padding: 2rem;
            background-color: black;
            color: white;
        }
    }
   
}

