.room {
    .room-number {

    }
}

.header {

}
.subtitle {

}
.video-container {
    &-icon {
        .name {

        }
        .self {

        }
        .peer {

        }
    }
    .leave-room {

    }
}

.chat-container {
    .chat-title {

    }
    .topic-title {

    }

    .chat {
        &-message {
            .person-name {

            }
        }
        &-control {
            .enter-message {

            }
            .send {

            }
        }
        .start-listening {
            
        }
    }
}
