@import 'fonts';

:root {
    --bg-color: #F6E7D4;
}

html {
    font-family: Lora, sans-serif;
    font-size: 62.5%;
    line-height: 26px;
    background-color: var(--bg-color);
}

.room {
    font-size: 2.4rem;
    font-weight: bold;
}

.header {
    font-size: 4.8rem;
    font-weight: bold;
}
.subtitle {
    font-size: 3.6rem;
    font-weight: var(--medium-font);
}
.video-container {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;

    &-icon {
        .name {

        }
        .self {

        }
        .peer {

        }
    }
    .leave-room {

    }
}

.chat-container {
    .chat-title {

    }
    .topic-title {

    }

    .chat {
        &-message {
            .person-name {

            }
        }
        &-control {
            .enter-message {

            }
            .send {

            }
        }
        .start-listening {

        }
    }
}
