@import 'fonts';

:root {
    --bg-color: #F6E7D4;
    --color-darkred: #A61B1D;
    --color-green: #107556;
    --color-darkgreen: #094130;
}

html {
    font-family: Lora, sans-serif;
    font-size: 62.5%;
    line-height: 26px;
    background-color: var(--bg-color);
    background-color: var(--bg-color);
}

button {
    font-size: 4rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2rem 4rem;
}

.layout {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 1280px) {
        display: grid;
        grid-template-areas:
        "room ."
        "title ."
        "subtitle chat"
        "video chat"
        "button1 button2";
        grid-template-columns: 60% 40%;
        grid-template-rows: 4rem 4rem 3rem 2fr 3rem;
        gap: 2.5rem;
        margin: 3rem;
    }
}

.room {
    font-weight: bold;
    font-size: 4rem;
    margin: 2rem 0;

    @media (min-width: 1280px) {
        grid-area: room;
        font-size: 2.4rem;
    }
}

.header {
    margin: 2rem 0;
    font-size: 6rem;
    font-weight: bold;

    @media (min-width: 1280px) {
        grid-area: title;
        font-size: 4.8rem;
    }
}
.subtitle {
    margin: 2rem 0;
    font-weight: var(--medium-font);
    font-size: 5rem;
    @media (min-width: 1280px) {
        grid-area: subtitle;
        font-size: 3.6rem;
    }
}

.video-container {

    @media (min-width: 1280px) {
        grid-area: video;
        border: black 2px solid;
        border-radius: 2rem;
        font-size: 2.4rem;
        font-weight: bold;
        color: white;
        display: grid;
        padding: 2.5rem;
        gap: 1rem;
        width: auto;
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }

    &-icon {
        position: relative;
        border: black 2px solid;
        border-radius: 2rem;

        .name {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        #self {
            width: 200px;
        }
        .peer {
            width: 200px;
        }
    }
}

.leave-room {
    width: 35rem;
    background-color: var(--color-darkred);

    @media (min-width: 1280px) {
        grid-area: button1;
        width: 20%;
    }
}

.chat-container {
    grid-area: chat;
    .chat-title {

    }
    .topic-title {

    }

    .chat {
        &-message {
            .person-name {

            }
        }
        &-control {
            .enter-message {

            }
            .send {
                background-color: var(--color-darkgreen);
            }
        }
    }
}
.start-listening {
    background-color: var(--color-green);
    
    @media (min-width: 1280px) {
        grid-area: button2;
    }
}
